<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/">NSRC</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto {{#if home_page}}active{{/if}}" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="/#about">About</a></li>
                <li><a class="nav-link scrollto" href="/#timeline">Timeline</a></li>
                <li><a class="nav-link scrollto {{#if venue_page}}active{{/if}}" href="/venue">Venue</a></li>
                {{!-- <li><a class="nav-link scrollto {{#if team_page}}active{{/if}}" href="/team">Team</a></li> --}}
                <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
            </ul>
            <a class="getstarted" href="/register">Register</a>
            {{!-- <a class="getstarted scrollto" target="_blank" href="https://cmt3.research.microsoft.com/User/Login?ReturnUrl=%2FNSRC2022">Register</a> --}}
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>