
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8 row justify-content-center align-items-center">
                <h1>NSRC <span>2022</span></h1>
                <h2>2ⁿᵈ National Symposium & Research Colloquium
                    A two-day hybrid summit of talks, activities, and paper presentations.
                </h2>
            </div>
        </div>

    </div>
</section>

<main id="main">

    <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">

            <div class="row justify-content-center">

                <div class="col-md-2 col-6 d-flex align-items-center justify-content-center order-sm-12">
                    <img src="/images/logos/gecw.png" class="img-fluid hd" alt="">
                </div>

                <div class="col-md-2 col-6 d-flex align-items-center justify-content-center order-sm-2">
                    <img src="/images/logos/ieee_sb_gecw.png" class="img-fluid ha" alt="">
                </div>

                <div class="col-md-3 col-12 d-flex align-items-center justify-content-center order-sm-10">
                    <img src="/images/logos/IEEE Kerala Section.png" class="img-fluid hi" alt="">
                </div>

                <div class="col-md-3 col-12 d-flex align-items-center justify-content-center order-sm-6">
                    <img src="/images/logos/Joint chapte.png" class="img-fluid hi" alt="">
                </div>                

            </div>

        </div>
    </section>

</main>