<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8 row justify-content-center align-items-center">
                <h1>NSRC <span>2022</span></h1>
                <h2>2ⁿᵈ National Symposium & Research Colloquium
                    A two-day hybrid summit of talks, activities, and paper presentations.
                </h2>
            </div>
        </div>

    </div>
</section>

<main id="main">
    <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">

            <div class="row justify-content-center">

                <div class="col-md-2 col-6 d-flex align-items-center justify-content-center order-sm-12">
                    <img src="/images/logos/gecw.png" class="img-fluid hd" alt="">
                </div>

                <div class="col-md-2 col-6 d-flex align-items-center justify-content-center order-sm-2">
                    <img src="/images/logos/ieee_sb_gecw.png" class="img-fluid ha" alt="">
                </div>

                <div class="col-md-3 col-12 d-flex align-items-center justify-content-center order-sm-10">
                    <img src="/images/logos/IEEE Kerala Section.png" class="img-fluid hi" alt="">
                </div>

                <div class="col-md-3 col-12 d-flex align-items-center justify-content-center order-sm-6">
                    <img src="/images/logos/Joint chapte.png" class="img-fluid hi" alt="">
                </div>

            </div>

        </div>
    </section>

    <div id="about">
        <section id="about-boxes" class="about-boxes">
            <div class="container" data-aos="fade-up">

                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            {{!-- <img src="/assets/img/about-boxes-1.jpg" class="card-img-top" alt="..."> --}}
                            <div class="card-icon">
                                <i class="bi bi-bullseye"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Our Goal</a></h5>
                                <p class="card-text text-center">The goal of this event is to bring Researchers in
                                    Circuit
                                    branches together from across the Nation. </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <ul class="nav nav-tabs row d-flex">
                    <li class="nav-item col-4">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                            <i class="ri-question-line"></i>
                            <h4 class="d-none d-lg-block">Who Can Apply</h4>
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                            <i class="ri-focus-3-line"></i>
                            <h4 class="d-none d-lg-block">Focus Area</h4>
                        </a>
                    </li>
                    <li class="nav-item col-4">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                            <i class="ri-edit-line"></i>
                            <h4 class="d-none d-lg-block">How to Register</h4>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Who Can Apply ?</h3>
                                <p>
                                    Research works are invited from current M.Tech Students & PhD Scholars including
                                    2022
                                    passouts
                                </p>
                            </div>
                            {{!-- <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/features-1.png" alt="" class="img-fluid">
                            </div> --}}
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>What is the Focus Area ?</h3>
                                <p>
                                    Any research work related to Recent Trends in Electrical, Electronics & Computer
                                    Science
                                    Engineering
                                </p>
                            </div>
                            {{!-- <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/features-2.png" alt="" class="img-fluid">
                            </div> --}}
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>How to Submit Abstract ?</h3>
                                <p>
                                    Abstracts should be submitted in a pdf/word document format with a maximum of 2
                                    pages through Microsoft CMT Portal.
                                </p>
                            </div>
                            {{!-- <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/features-3.png" alt="" class="img-fluid">
                            </div> --}}
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <section id="timeline">

        <div class="container">

            <div class="section-title">
                <h2>Timeline</h2>
            </div>

            <!--first section-->
            <div class="row align-items-center how-it-works d-flex">
                <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">1</div>
                </div>
                <div class="col-6">
                    <h5><span>21/06/2022</span><br>Abstract Submission starts </h5>
                </div>
            </div>
            <!--path between 1-2-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                    <hr />
                </div>
                <div class="col-2">
                    <div class="corner left-bottom"></div>
                </div>
            </div>
            <!--second section-->
            <div class="row align-items-center justify-content-end how-it-works d-flex">
                <div class="col-6 text-right">
                    <h5><span><strong>08/09/2022</strong></span> <br>Abstract Submission ends</h5>
                </div>
                <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">2</div>
                </div>
            </div>
            <!--path between 2-3-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                    <hr />
                </div>
                <div class="col-2">
                    <div class="corner top-left"></div>
                </div>
            </div>
            <!--third section-->
            <div class="row align-items-center how-it-works d-flex">
                <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">3</div>
                </div>
                <div class="col-6">
                    <h5><span>12/09/2022</span> <br>Notification of acceptance of abstract</h5>
                </div>
            </div>
            <!--path between 3-4-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                    <hr />
                </div>
                <div class="col-2">
                    <div class="corner left-bottom"></div>
                </div>
            </div>
            <!--fourth section-->
            <div class="row align-items-center justify-content-end how-it-works d-flex">
                <div class="col-6 text-right">
                    <h5><span>30/09/2022</span> <br>Deadline for registration</h5>
                </div>
                <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">4</div>
                </div>
            </div>

            <!--path between 4-5-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                    <hr />
                </div>
                <div class="col-2">
                    <div class="corner top-left"></div>
                </div>
            </div>
            <!--5th section-->
            <div class="row align-items-center how-it-works d-flex">
                <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">5</div>
                </div>
                <div class="col-6">
                    <h5><span>08/10/2022 & 09/10/2022</span> <br>NSRC</h5>
                </div>
            </div>
        </div>

    </section>

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class=" section-title">
                <h2>Contact Us</h2>
            </div>

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-12">

                    <div class="row row justify-content-center align-items-center">
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>RXMC+92H, Thalappuzha PO, Mananthvady, <br> Wayanad, Kerala 670644</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info-box mt-4">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>nsrc2022@gecwyd.ac.in<br>ieees@bgecwyd.ac.in</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info-box mt-4">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p>+91 70259 92196</p>
                            </div>
                        </div>
                    </div>

                </div>

                {{!-- <div class="col-lg-6 mt-4 mt-lg-0">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div> --}}

            </div>

        </div>
    </section><!-- End Contact Section -->

</main>