<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8 row justify-content-center align-items-center">
                <h1>NSRC <span>2022</span></h1>
                <h2>2ⁿᵈ National Symposium & Research Colloquium
                    A two-day hybrid summit of talks, activities, and paper presentations.
                </h2>
            </div>
        </div>

    </div>
</section>

<main id="main">
    <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">

            <div class="row justify-content-center">

                <div class="col-md-2 col-6 d-flex align-items-center justify-content-center order-sm-12">
                    <img src="/images/logos/gecw.png" class="img-fluid hd" alt="">
                </div>

                <div class="col-md-2 col-6 d-flex align-items-center justify-content-center order-sm-2">
                    <img src="/images/logos/ieee_sb_gecw.png" class="img-fluid ha" alt="">
                </div>

                <div class="col-md-3 col-12 d-flex align-items-center justify-content-center order-sm-10">
                    <img src="/images/logos/IEEE Kerala Section.png" class="img-fluid hi" alt="">
                </div>

                <div class="col-md-3 col-12 d-flex align-items-center justify-content-center order-sm-6">
                    <img src="/images/logos/Joint chapte.png" class="img-fluid hi" alt="">
                </div>

            </div>

        </div>
    </section>

    <section id="about-boxes" class="about-boxes">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="card">
                        {{!-- <img src="/assets/img/about-boxes-1.jpg" class="card-img-top" alt="..."> --}}
                        <div class="card-icon">
                            <i class="bi bi-bullseye"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Our Goal</a></h5>
                            <p class="card-text text-center">The goal of this event is to bring Researchers in Circuit
                                branches together from across the Nation. </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="features" class="features">
        <div class="container" data-aos="fade-up">

            <ul class="nav nav-tabs row d-flex">
                <li class="nav-item col-4">
                    <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                        <i class="ri-question-line"></i>
                        <h4 class="d-none d-lg-block">Who Can Apply</h4>
                    </a>
                </li>
                <li class="nav-item col-4">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                        <i class="ri-focus-3-line"></i>
                        <h4 class="d-none d-lg-block">Focus Area</h4>
                    </a>
                </li>
                <li class="nav-item col-4">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                        <i class="ri-edit-line"></i>
                        <h4 class="d-none d-lg-block">How to Register</h4>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active show" id="tab-1">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>Who Can Apply ?</h3>
                            <p>
                                Research works are invited from current M.Tech Students & PhD Scholars including 2022
                                passouts
                            </p>
                        </div>
                        {{!-- <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="assets/img/features-1.png" alt="" class="img-fluid">
                        </div> --}}
                    </div>
                </div>
                <div class="tab-pane" id="tab-2">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>What is the Focus Area ?</h3>
                            <p>
                                Any research work related to Recent Trends in Electrical, Electronics & Computer Science
                                Engineering
                            </p>
                        </div>
                        {{!-- <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="assets/img/features-2.png" alt="" class="img-fluid">
                        </div> --}}
                    </div>
                </div>
                <div class="tab-pane" id="tab-3">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>How to Submit Abstract ?</h3>
                            <p>
                                Abstracts should be submitted in a pdf/word document format with a maximum of 2 pages through Microsoft CMT Portal.
                            </p>
                        </div>
                        {{!-- <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="assets/img/features-3.png" alt="" class="img-fluid">
                        </div> --}}
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>