<section id="schedule" class="section-with-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Schedule</h2>
        </div>

        <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
            <li class="nav-item">
                <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Day 1 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Day 2</a>
            </li>
        </ul>


        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">


            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

                <div class="row schedule-item">
                    <div class="col-md-2"><time><strong> Day 1 </strong></time></div>
                    <div class="col-md-10">
                        <h4>
                            <strong>8th October, 2022</strong>
                        </h4>
                    </div>
                </div>

                <div class='row schedule-item'>
                    <div class='col-md-2'><time>09:00 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Registration</h4>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>09:45 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Inauguration Ceremony</h4>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>09:45 AM - <br> 09.50 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Welcome Address</h4>
                        <p>Dr. Jayaprakash, General Chair, NSRC 2022</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>09:50 AM - <br> 09.55 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Presidential Address</h4>
                        <p>Dr. Anitha V S, Principal Government Engineering College Wayanad</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>09:50 AM - <br> 10.10 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Inaugural Addres</h4>
                        <p>Dr. Rajasree M S, Vice Chancellor, APJ Abdul Kalam Technological University</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>10:10 AM - <br>10.15 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Guest Speaker 1</h4>
                        <p>Dr. P.V. Unnikrishnan, Member Secretary, Kerala Development and Innovation Strategic Council
                        </p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>10:15 AM - <br>10.20 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Guest Speaker 2</h4>
                        <p>Dr.Job Kurien,Emeritus Professor ,IIT Palakkad & Chairman, BOG, GEC Wayanad </p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>10:20 AM - <br>10.25 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Felicitation 1</h4>
                        <p>Mr. Abdul Rahman Vice President,PTA</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>10:25 AM - <br>10.30 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Felicitation 2</h4>
                        <p>Dr. Suresh K, Dean, GEC Wayanad</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>10:30 AM - <br>10.35 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Felicitation 3</h4>
                        <p>Sri. Ajay Thomas, Alumni Member, GEC Wayanad</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>10:35 AM - <br>10.40 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Vote of Thanks</h4>
                        <p>Dr. Avinash Nelson, Branch Counselor, IEEE SB GEC wayanad</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>10:40 AM - <br>10.50 AM</time></div>
                    <div class='col-md-10 row justtify-content-center align-items-center'>
                        <h4><strong>Tea Break</strong></h4>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>11:30 AM - <br>11.30 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Keynote 1 (EEE)</h4>
                        <p><strong>Inverters - Evolution from square to sine</strong></p>
                        <p>Dr. Rijil Ramchand,Professor, NIT Calicut</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>11:30 AM - <br>11.30 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Keynote 2 (ECE)</h4>
                        <p><strong>A learned machine for early breast cancer detection using combined
                                mammogram and
                                histopathology analysis on focussed indegenious database</strong></p>
                        <p>Dr. Praveen Sankaran, NIT Calicut</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>11:30 AM - <br>11.30 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Keynote 3 (CSE)</h4>
                        <p><strong>Inverters - Evolution from square to sine</strong></p>
                        <p>Dr.Madhukumar S D, Professor, CSE, NIT calicut</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>11:45 AM - <br>03.00 PM</time></div>
                    <div class='col-md-10'>
                        <h4>Presentation Session 1</h4>
                        <p><strong>Chair: </strong>Dr. Rijil Ramchand,Professor, NIT Calicut</p>
                        <p><strong>Co-Chair: </strong>Prof. Sheeba Paulose, Assoc. Prof, GEC Wayanad</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>11:45 AM - <br>03.00 PM</time></div>
                    <div class='col-md-10'>
                        <h4>Presentation Session 1</h4>
                        <p><strong>Chair: </strong>Dr. Praveen Sankaran, NIT Calicut</p>
                        <p><strong>Co-Chair: </strong>Dr. Arun Varghese, Assoc. Prof, GEC Wayanad</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>11:45 AM - <br>03.00 PM</time></div>
                    <div class='col-md-10'>
                        <h4>Presentation Session 1</h4>
                        <p><strong>Chair: </strong>Dr. Madhukumar S D, CSE, NIT calicut</p>
                        <p><strong>Co-Chair: </strong>Dr. Gilesh M P, HOD, Department of CSE, GEC Wayanad</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>03:30 AM - <br>05.30 AM</time></div>
                    <div class='col-md-10 row justtify-content-center align-items-center'>
                        <h4>
                            <strong>
                                Exploring Wayanad
                            </strong>
                        </h4>
                        {{!-- <p>Dr. Avinash Nelson, Branch Counselor, IEEE SB GEC wayanad</p> --}}
                    </div>
                </div>


            </div>

            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

                <div class="row schedule-item">
                    <div class="col-md-2"><time><strong> Day 2 </strong></time></div>
                    <div class="col-md-10">
                        <h4><strong>9th October, 2022</strong></h4>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>09:30 AM - <br> 10:30 AM</time></div>
                    <div class='col-md-10'>
                        <h4>Keynote 4</h4>
                        <p><strong>Energy and environment problems facing the third world and their probable solutions
                                for sustainable development</strong></p>
                        <p>Dr. D.P Kothari , Joint Director (Retd), IIT Delhi</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>10:30 AM - <br>12.30 PM</time></div>
                    <div class='col-md-10'>
                        <h4>Presentation Session 4</h4>
                        <p><strong>Chair: </strong>Dr. Sreekumar C, Professor, EEE, GCE Kannur.</p>
                        <p><strong>Co-Chair: </strong>Dr. Baburaj P, Assoc. Prof. EEE, GCE Wayanad</p>
                    </div>
                </div>
                <div class='row schedule-item'>
                    <div class='col-md-2'><time>12:30 PM - <br> 01:00 PM</time></div>
                    <div class='col-md-10'>
                        <h4>Valedictory Function </h4>
                        <p>Chief Guest: <strong>Dr. Shalij P R, Dean Research,APJ Abdul Kalam Technological University, Kerala</strong></p>
                    </div>
                </div>

            </div>

        </div>

</section>