<section id="team" class="team">
    <div class="container">
        <div class="section-title" data-aos="fade-right">
            <h2>Organizing Committee</h2>
        </div>

        <div class="row align-items-center">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up">
                    {{!-- <div class="member-img">
                        <div class="img-fluid img-div">
                            <img src="/assets/images/team/" class="img-fluid" alt="Name">
                        </div>
                    </div> --}}
                    <div class="member-info">
                        <h4>Name</h4>
                        <h6>Patron</h6>
                        <span>Designation</span>
                    </div>
                </div>
            </div>

            
        </div>

    </div>

</section><!-- End Team Section -->