<section id="venue" class="venue">

    <div class="container-fluid" data-aos="fade-up">

        <div class="section-title" data-aos="fade-right">
            <h2>Venue - GEC Wayanad</h2>
        </div>


        <div class="row g-0">
            <div class="col-lg-6 venue-map">
                <iframe style="border:0" loading="lazy" allowfullscreen
                    src="https://maps-api-ssl.google.com/maps?hl=en&ll=11.833463,75.970061&output=embed&q=RXMC+92H,+Thalappuzha+PO,+Mananthvady,+Wayanad,+Kerala+670644,+India+(Government+Engineering+College,+Wayanad)&z=17"></iframe>
            </div>

            <div class="col-lg-6 venue-info">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8 position-relative">
                        <h3>GEC Wayanad</h3>
                        <p>Govt. Engineering College, Wayanad is one of the 9 Government Engineering Colleges under
                            Directorate of Technical Education (DTE), Govt of Kerala. The college is located 6 km from
                            Mananthavady, in the hilly district of Wayanad. The campus is situated on the side of
                            Mananthavady-Kannur state highway. GEC Wayanad have four regular B.Tech courses - Computer
                            Science & Engineering, Electronics & Communication Engineering, Electrical and Electronics
                            Engineering and Mechanical Engineering, a part-time evening B.Tech course in Electronics &
                            Communication Engineering and two M.Tech courses -Communication Engineering & Signal
                            Processing and Computer Networks & Security . Current principal of the college is Dr. Anitha
                            V.S. The college is funded by Technical Education Quality Improvement Program, Phase II.
                            This College is affiliated to APJ Abdul Kalam Technological University.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="/images/wayanad_3.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="/images/wayanad_3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="/images/wayanad_1.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="/images/wayanad_1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="/images/wayanad_2.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="/images/wayanad_2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="/images/wayanad_5.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="/images/wayanad_5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>            

        </div>
    </div>

</section>