$ss-xm: 480px;
$ss-sm: 768px;
$ss-md: 992px;
$ss-lg: 1024px;

$white: #fff;

$color_1: #08D9D6;
$color_11: #b6efee;
$color_12: #78edeb;
$color_13: #39e7e4;
$color_14: #139fa1;
$color_15: #23aab6;

// $color_1: #ff4a17;
// $color_11: #ff5e31; 15
// $color_2: #ff724a; 12
// $color_3: #ff6a40; 13
// $color_4: #fd3800; 14
// $color_5: #ff8664;
$color_5: #15222b;
$color_6: #f0f4f8; // 7-5
$color_8: #f0f4f8;

$color_error: #FC4F4F;
$color_success: #21BF73;

$background_color_1: #ffffff;
$background_color_2: #f0f4f8;

$font_family_1: 'Raleway', sans-serif;
$font_family_2: 'Open Sans', sans-serif;
$font_family_3: "Poppins", sans-serif;